.footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
	text-align: center;
	height: 40px;
	background-color: lightblue; 
	color: white;
	box-shadow: 0 0 5px 5px black;
	padding: 5px;
}

.footer h4{	
	font-family: cursive;
	font-weight: bold;
	justify-content: center;
}
